<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title_name}} - List</title>
        <link rel="stylesheet" href="static/CSS/style.css">
    </head>
    <body>
        <table class="NovelTable">
            <colgroup>
                <col style = "width:5%">
                <col style = "width:10%">
            </colgroup>
            <thead>
                <tr class="HeaderRow">
                    <th>#</th>
                    <th>Country</th>
                    <th>Title</th>
                    <th>Chapters Completed</th>
                    <th>Rating (Out of 10)</th>
                    <th>Reading Status</th>
                    <th>Genre</th>
                    <th>Tags</th>
                    <th>Date Modified</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries%}
                <tr>
                    <td class = "table_rows">{{entry[0]}}</td>
                    <td class = "table_rows">{{entry[2]}}</td>
                    <td class = "table_rows"><a href="{{entry[1]}}">{{entry[3]}}</a></td>
                    <td class = "table_rows">{{entry[4]}}</td>
                    <td class = "table_rows">{{entry[5]}}</td>
                    <td class = "table_rows">{{entry[6]}}</td>
                    <td class = "table_rows">{{entry[7]}}</td>
                    <td class = "table_rows">{{entry[8]}}</td>
                    <td class = "table_rows">{{entry[9]}}</td>
                    <td class = "table_rows">{{entry[10]}}</td>
                </tr>
                {% endfor %}
            </tbody>
    </body>
</html>