<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>NovelTable</title>
        <link rel="stylesheet" href="static/CSS/style.css">
    </head>
    <body>
        <table class="NovelTable">
            <colgroup>
                <col style = "width:5%">
                <col style = "width:10%">
            </colgroup>
            <thead>
                <tr class="HeaderRow">
                    <th>#</th>
                    <th>Country</th>
                    <th>Title</th>
                    <th>Chapters Completed</th>
                    <th>Rating (Out of 10)</th>
                    <th>Reading?</th>
                    <th>Tags</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td>KR</td>
                    <td>Reaper of the Drifting Moon</td>
                    <td>52</td>
                    <td>5</td>
                    <td>Y</td>
                    <td>Cultivation</td>
                    <td>Revenge story, first assassin arc is good, later on so far you have typical face slapping </td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>CN</td>
                    <td>Ascending, Do Not Disturb</td>
                    <td>17</td>
                    <td>6</td>
                    <td>Y</td>
                    <td>Cultivation, SOL, Ancient China, Romance</td>
                    <td>No stakes story, a bit difficult to read</td>
                </tr>
            </tbody>
    </body>
</html>