<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title_name}} - List</title>
        <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="static/CSS/style.css">
    </head>
    <body>
        <input id="addRow" type="button" value="Add row">
        <table id="NovelTable">
            <colgroup>
                <col style = "width:5%">
                <col style = "width:5%">
                <col style = "width:15%">
                <col style = "width:8%">
                <col style = "width:7%">
                <col style = "width:5%">
                <col style = "width:15%">
                <col style = "width:15%">
                <col style = "width:10%">
                <col style = "width:15%">
            </colgroup>
            <thead>
                <tr class="HeaderRow">
                    <th class= "col0">#</th>
                    <th class= "col1">Country</th>
                    <th class= "col2">Title</th>
                    <th class= "col3">Chapters Completed</th>
                    <th class= "col4">Rating (Out of 10)</th>
                    <th class= "col5">Reading Status</th>
                    <th class= "col6">Genre</th>
                    <th class= "col7">Tags</th>
                    <th class= "col8">Date Modified</th>
                    <th class= "col9">Notes</th>
                    <th class = "col10">ID</th> 
                </tr>
            </thead>
            <tbody>
                {% for entry in entries%}
                <tr>
                    <td class = "col0"><div class = "scrollable">{{entry.number}}</div></td>
                    <td contenteditable="true" class = "col1"><div class = "scrollable">{{entry.country}}</div></td>
                    <td class = "col2">
                        <div contenteditable="true" class = "scrollable"><a href="{{entry.url}}">{{entry.title}}</a></div>
                        <div class = "col2dropdown"><a href="{{entry.url}}">{{entry.title}}</a></div>
                    </td>
                    <td contenteditable="true" class = "col3"><div class = "scrollable">{{entry.chapters_completed}}</div></td>
                    <td contenteditable="true" class = "col4"><div class = "scrollable">{{entry.rating}}</div></td>
                    <td contenteditable="true" class = "col5"><div class = "scrollable">{{entry.reading_status}}</div></td>
                    <td contenteditable="true" class = "col6"><div class = "scrollable">{{entry.genre}}</div></td>
                    <td contenteditable="true" class = "col7"><div class = "scrollable">{{entry.tags}}</div></td>
                    <td class = "col8"><div class = "scrollable">{{entry.date_modified}}</div></td>
                    <td contenteditable="true" class = "col9"><div class = "scrollable">{{entry.notes}}</div></td>
                    <td class = "col10"><div class = "scrollable">{{entry.id}}</div></td>
                </tr>
                {% endfor %}
            </tbody>
    </body>
    <script src="static/JS/editRows.js"></script>
    <script src="static/JS/editCell.js"></script>
</html>