body {
    background-color: rgb(72, 70, 70);
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table {
    width: 90%;
    border: solid 2px black;
    padding: 15px;
    table-layout: fixed;
    text-align: center;
}

.scrollable {
    height: 80px;
    overflow: auto;
} 

#addRow {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.col0 {
    background-color: rgb(236, 129, 129);
}

.col1 {
    background-color: rgb(183, 152, 96);
}

.col2 {
    background-color: rgb(147, 147, 59);
}

.col3 {
    background-color: rgb(63, 144, 63);
}

.col4 {
    background-color: rgb(129, 129, 168);
}

.col5 {
    background-color: rgb(148, 111, 174);
}

.col6 {
    background-color: rgb(171, 103, 171);
}

.col7 {
    background-color: rgb(65, 142, 116);
}

.col8 {
    background-color: rgb(196, 122, 147);
}

.col9 {
    background-color: rgb(104, 128, 82);
}

.col10 {
    display: none;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

/* Dropdown Content (Hidden by Default) */
.col2dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 0;
}

/* Links inside the dropdown */
.col2dropdown a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

/* 
.col2:hover .col2dropdown {
    box-shadow: inset #54b3d6; 
    color: white;
    display: block;
    translate: 0% -80%;
} */
